<ion-header>
  <ion-toolbar color="primary">
    <ion-title> RecipeShop </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item
            *ngFor="let recipe of recipes"
            [routerLink]="['/home',recipe.id]"
          >
            <ion-avatar slot="start">
              <ion-img [src]="recipe.imageUrl"> </ion-img>
            </ion-avatar>
            <ion-label>{{recipe.title}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
